<h1>People with food in the fridge</h1>

<% if @users.size > 0 %>
  <ul>
    <% @users.each do |user| %>
      <li><a href="/users/<%= user.username %>"><%= user.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>No one has any food in it right now.</p>
<% end %>
