<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <% if logged_in? %>
      <nav>
        <ul>
          <li><a href="/foods">The whole fridge</a></li>
          <li><a href="/users/<%= current_user.username %>">Your food</a></li>
          <li><a href="/users">People with food in the fridge</a></li>
          <li><a href="logout">Log out</a></li>
        </ul>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
