<form action="/login" method="post">
  <label for="username">Username: </label>
  <input name="username" type="text"><br>
  <label for="password">Password: </label>
  <input name="password" type="password"><br>
  <input type="submit" value="Log in">
</form>

<a href="/signup">or sign up for a new account</a>
