<form action="/signup" method="post">
  <label for="user[username]">Username: </label>
  <input name="user[username]" type="text"><br>
  <label for="user[password]">Password: </label>
  <input name="user[password]" type="password"><br>
  <label for="user[name]">Display name: </label>
  <input name="user[name]" type="text"><br>
  <input type="submit" value="Sign up">
</form>

<a href="/login">or log in to an existing account</a>
